body {
    background-color: white;
    /* text-align: center; */
    font-family: sans-serif;
    /* font-size: 20px; */
    margin: 40px auto;
    width: 960px;
    min-height: 2000px;
}

.notice {
    color: red;
    font-weight: bold;
}

.land {
    fill: #dddddd;
}

.border {
    fill: none;
    stroke-width: 1px;
}

.interior {
    stroke: white;
}

.exterior {
    stroke: #bbbbbb;
}

.airport {
    /* fill: white; */
    opacity: 0.6;
    stroke: #252525;
}

.airport_info {
    font-family: sans-serif;
    margin: 1em;
    font-size: 15px;
}


/* .airport:hover {
    fill: rgb(232, 231, 189);
    opacity: 0.6;
    box-shadow: 5px rgba(0,0,0,0.2);
    stroke: #252525;
  } */

.route {
    fill: none;
    stroke-width: 0;
}

.plane {
    fill: #000;
    stroke-width: 0;
}

.today_route {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    opacity: 0.05;
}

.today_progress {
    fill: none;
    stroke-width: 0;
}


/* .countries {
    fill: #b0d0ab;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}
.airports {
    fill: #036;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
} */

#hierarchical-barchart {
    position: relative;
    margin-top: 2em;
}

.bar-text {
    /* font-size: 30px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.x-axis,
.y-axis {
    font-family: sans-serif;
    font-size: 17px;
}

#loading-text {
    background-color: #fff;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 99;
    /* left: 51.5%;
    top: 60%; */
    margin: -50px 0 0 -50px;
    border-radius: 10px;
    opacity: 1;
}


/* Crossfilter chart style */

#body {
    position: relative;
}

#body>p {
    line-height: 1.5em;
    width: 640px;
    text-rendering: optimizeLegibility;
}

#charts {
    padding: 10px 0;
}

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}

.background.bar {
    fill: #ccc;
}

.foreground.bar {
    fill: steelblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

#hour-chart {
    width: 260px;
}

#duration-chart {
    width: 230px;
}

#distance-chart {
    width: 420px;
}

#date-chart {
    width: 920px;
}

#flight-list {
    min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
    margin-bottom: .4em;
}

#flight-list .flight {
    line-height: 1.5em;
    background: #eee;
    width: 640px;
    margin-bottom: 1px;
}

#flight-list .time {
    color: #999;
}

#flight-list .flight div {
    display: inline-block;
    width: 100px;
}

#flight-list div.distance,
#flight-list div.duration {
    width: 160px;
    padding-right: 10px;
    text-align: right;
}

#flight-list .early {
    color: green;
}

aside {
    position: absolute;
    left: 740px;
    font-size: 15px;
    width: 220px;
}