body {
    background-color: white;
    /* text-align: center; */
    font-family: sans-serif;
    /* font-size: 20px; */
    margin: 40px auto;
    width: 960px;
    min-height: 2000px;
}

.notice {
    color: red;
    font-weight: bold;
}


/* fork me, source: https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}


/* project related */

.land {
    fill: #dddddd;
}

.border {
    fill: none;
    stroke-width: 1px;
}

.interior {
    stroke: white;
}

.exterior {
    stroke: #bbbbbb;
}

.airport {
    /* fill: white; */
    opacity: 0.6;
    stroke: #252525;
}

.airport_info {
    font-family: sans-serif;
    margin: 1em;
    font-size: 15px;
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}


/* .airport:hover {
    fill: rgb(232, 231, 189);
    opacity: 0.6;
    box-shadow: 5px rgba(0,0,0,0.2);
    stroke: #252525;
  } */


/* 
#legend {
    border: 2px solid grey;
} */

.route {
    fill: none;
    stroke-width: 0;
}

.plane {
    fill: #000;
    stroke-width: 0;
}

.today_route {
    fill: none;
    stroke-width: 2;
    opacity: 0.05;
}

.today_progress {
    fill: none;
    stroke-width: 0;
}


/* .countries {
    fill: #b0d0ab;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
}
.airports {
    fill: #036;
    stroke: #6cb0e0;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    vector-effect: non-scaling-stroke;
} */

#hierarchical-barchart {
    position: relative;
    margin-top: 2em;
}

.bar-text {
    font-size: 30px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.x-axis,
.y-axis {
    font-family: sans-serif;
    font-size: 17px;
}

#loading-text {
    font-size: 2rem;
    color: black;
    background-color: #fff;
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 99;
    /* left: 51.5%;
    top: 60%; */
    margin: -50px 0 0 -50px;
    border-radius: 10px;
    opacity: 1;
}


/* Crossfilter chart style */

#body {
    position: relative;
}

#body>p {
    line-height: 1.5em;
    width: 640px;
    text-rendering: optimizeLegibility;
}

.chart-title {
    background-color: #120823;
    color: yellow;
    z-index: 99;
    opacity: 1;
}

#charts {
    padding: 10px 0;
}

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}

.background.bar {
    fill: #ccc;
}

.foreground.bar {
    fill: navy;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.brush rect.extent {
    fill: navy;
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

#hour-chart {
    width: 260px;
}

#duration-chart {
    width: 230px;
}

#distance-chart {
    width: 420px;
}

#date-chart {
    width: 920px;
}

#flight-list {
    min-height: 1024px;
}

#flight-list .date,
#flight-list .day {
    margin-bottom: .4em;
}

#flight-list .flight {
    line-height: 1.5em;
    background: #eee;
    width: 640px;
    margin-bottom: 1px;
}

#flight-list .time {
    color: #999;
}

#flight-list .flight div {
    display: inline-block;
    width: 100px;
}

#flight-list div.distance,
#flight-list div.duration {
    width: 160px;
    padding-right: 10px;
    text-align: right;
}

#flight-list .early {
    color: green;
}

aside {
    position: relative;
    /* left: 740px; */
    font-size: 15px;
    color: red;
    width: 400px;
}