<!doctype html>
<html lang="en">

<head>
    <title>Flight App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Project CSS -->
    <!-- loader: 'npm install loadme' -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loadme.css') }}">
    <!-- user style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- GitHub fork-me -->
    <a href="https://github.com/junwoo77lee/Project_Flight" target="_blank" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250"
            style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path
                d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path
                d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                fill="currentColor" class="octo-body"></path>
        </svg></a>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <h2 style="color: yellow;"><strong>Top 61 US Airports</strong></h2>
            <span class="ml-3" style="color: white;"> (reported by <a
                    href="https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_the_United_States"
                    target="_blank">Wikipedia)</a></span>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>
    </div>
    <!-- radio buttons to select flight animation mode -->
    <div class="container-fluid mt-1 ml-2">
        <div class="row justify-content-md-center">
            <div class="alert alert-info" role="alert">
                <div class="d-flex justify-content-center"><strong class="notice"><em>Notice</em></strong>

                    <p><br>1. For a demonstration purpose, the data has been limited to a certain period (Sep. 30-Oct. 9, 2019).
                        <br> 2. "Flight Location" shows current flight positions between departure and arrival airport at a certain time on Oct. 9, 2019.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form>
                    <label class="radio-inline">
                        <input id="unlimited" type="radio" name="optradio" checked> <span>Flights Animation</span>
                    </label>
                    <label class="radio-inline ml-2">
                        <input id="current-flights" type="radio" name="optradio"> <span>Flights Location</span>
                    </label>
                </form>
            </div>
            <div class="col-md-4">
                <div id="legend"></div>
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>

    <!-- loader: display until the Promise datasets are all fufilled  -->
    <g id="loader">
        <div class="loadme-circular"></div>
        <div class="loadme-mask">
            <p id="loading-text">Loading...</p>
        </div>
    </g>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div id="d3-map"></div>
            </div>
            <div class="col-md-4">
                <div id="airportInfo">

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <label for="airportSelector">
                        <p style="font-size: 14px; margin-bottom: 0.25em;"><span class="notice">Choose</span> an airport
                            below or <span class="notice">Click</span> an airport location on the map</p>
                    </label>
                    <select class="form-control" id="airportSelector">
                        <!-- <option>airport1</option> -->
                    </select>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mt-2">
                <h5>[Airport Data by Date and Time]</h5>
            </div>
            <div class="col-md-4">
                <form>
                    <label class="radio-inline">
                        <input id="departure" type="radio" name="bound-type" checked> <span> Outbound </span>
                    </label>
                    <label class="radio-inline ml-2">
                        <input id="arrival" type="radio" name="bound-type"> <span> Inbound </span>
                    </label>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="body">
                        <div id="charts">
                            <div id="hour-chart" class="chart">
                                <div class="title"><em>Time of Day</em></div>
                            </div>

                            <div id="duration-chart" class="chart">
                                <div class="title"><em>Duration (min.)</em></div>
                            </div>

                            <div id="distance-chart" class="chart">
                                <div class="title"><em>Distance (mi.)</em></div>
                            </div>

                            <div id="date-chart" class="chart">
                                <div class="title"><em>Date</em></div>
                            </div>

                            <aside id="totals"><em><span id="active">-</span> of <span id="total">-</span> flights
                                    selected for the <mark id="bound-type-marker"
                                        style="font-size: 1.2rem;">-</mark>.</em>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 mt-2">
                <h5>[Inbound/Outbound Flight Counts: Sep. 30-Oct. 9, 2019]</h5>
                <div id='hierarchical-barchart'></div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://d3js.org/d3.v5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>

    <!-- Special JS libraries for project -->
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crossfilter.v1.js') }}"></script>

    <!-- main JS code -->
    <script src="{{ url_for('static', filename='js/hierarchical_barchart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/cross_filter_chart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>