<!doctype html>
<html lang="en">

<head>
    <title>Flight App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Project CSS -->
    <!-- loader: 'npm install loadme' -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loadme.css') }}">
    <!-- user style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/#">Top 61 US Aiports</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/airport-timetable">Keit Chart<span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div> -->
        </nav>
    </div>
    <!-- radio buttons to select flight animation mode -->
    <div class="container">
        <!-- <h2>Form control: inline radio buttons</h2> -->
        <!-- <p>The form below contains three inline radio buttons:</p> -->
        <form>
            <label class="radio-inline">
                <input id="unlimited" type="radio" name="optradio" checked> Flights Animation
            </label>
            <label class="radio-inline">
                <input id="current-flights" type="radio" name="optradio"> Flights Location
            </label>
        </form>
    </div>

    <!-- loader: display until the Promise datasets are all fufilled  -->
    <g id="loader">
        <div class="loadme-circular"></div>
        <div class="loadme-mask">
            <p id="loading-text">Loading...</p>
        </div>
    </g>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="d3-map"></div>
            </div>
            <div class="col-md-4">
                <div id="airportInfo">

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <label for="airportSelector">
                        <p style="font-size: 14px; margin-bottom: 0.25em;"><span class="notice">Choose</span> an airport
                            in the menu or <span class="notice">Click</span> one on the map</p>
                    </label>
                    <select class="form-control" id="airportSelector">
                        <!-- <option>airport1</option> -->
                    </select>
                </div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Stats by Date & Time</h4>
                <div id="body">
                    <div id="charts">
                        <div id="hour-chart" class="chart">
                            <div class="title">Time of Day</div>
                        </div>
                        <div id="duration-chart" class="chart">
                            <div class="title">Duration (min.)</div>
                        </div>
                        <div id="distance-chart" class="chart">
                            <div class="title">Distance (mi.)</div>
                        </div>
                        <div id="date-chart" class="chart">
                            <div class="title">Date</div>
                        </div>
                        <aside id="totals"><span id="active">-</span> of <span id="total">-</span> flights selected.
                        </aside>
                    </div>
                </div>

                <!-- 
                <div id="lists">
                    <div id="flight-list" class="list"></div>
                </div> -->

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Stats by Flight Counts</h4>
                <div id='hierarchical-barchart'></div>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://d3js.org/d3.v5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>

    <!-- Special JS libraries for project -->
    <script src="https://unpkg.com/topojson@3"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crossfilter.v1.js') }}"></script>

    <!-- main JS code -->
    <script src="{{ url_for('static', filename='js/hierarchical_barchart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/cross_filter_chart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>